body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(10, 154, 250);
    font-size: 16pt;
    color: #FFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1362%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1363%26quot%3b)'%3e%3c/rect%3e%3cpath d='M375.7864718017173 675.170476617943L361.24874755049797 509.0035280633849 209.6195232471592 689.7082008691623z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1281.0089707145037 145.75440847268712L1350.6345399203396-18.27315346270686 1069.7804124143308-40.69772630376366z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1606.2911441289004 386.85868133247857L1561.60927624524 176.64702033927136 1268.6327186972594 348.7756526613656z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M566.9584755440918 282.0233519771441L620.6381029426609 623.0463221120774 858.4426062256231 437.25308177852935z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1481.9310009871008 1136.1370614021102L1703.8194461021253 929.222738892721 1275.0166784777116 914.2486162870857z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M95.722%2c431.847C134.048%2c432.431%2c171.126%2c412.524%2c188.816%2c378.52C205.407%2c346.628%2c193.561%2c309.793%2c175.34%2c278.804C157.437%2c248.355%2c131.043%2c220.458%2c95.722%2c220.188C60.039%2c219.916%2c31.587%2c246.54%2c13.971%2c277.573C-3.384%2c308.147%2c-9.048%2c344.693%2c7.413%2c375.757C24.914%2c408.783%2c58.35%2c431.278%2c95.722%2c431.847' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1362'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1363'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(10%2c 154%2c 250%2c 1)' offset='0.42'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.banner {
    background-color: rgb(14, 104, 163);
    margin-bottom:20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    text-align:center;
}
.banner h1 {
    /* Remove margins impued to banner by h1 tags on default*/
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner h1:hover {
  cursor: pointer;
}



h2 {
    text-align: center;
    color: #ffffff;
}

form {
    margin: 40px auto;
    background-color: rgba(13, 143, 229, 0.8);
    border-radius: 10px;
    padding: 30px;
    opacity: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;  /* Limits the container width */
}

label {
    font-size: 1rem;
    color: white;
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(116, 197, 251, 0.5);
    border-radius: 10px;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
}


#ask {
    width: 100%;
    padding: 12px;
    background-color: rgb(14, 104, 163);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: black;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;

}


#ask:focus {
  box-shadow: rgb(7, 82, 131) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(7, 82, 131) 0 -3px 0 inset;
}

#ask:hover {
  
  transform: translateY(-2px);
}

#ask:active {
  box-shadow: rgb(7, 82, 131) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Popup style */
#recommendation {
    display: none;  /* Hidden by default */
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #06572f;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensures it appears in front */
    width: auto;
    max-width: 500px;
    background-color: rgb(25, 164, 25);
}

#recommended-language {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(236, 253, 255);
}

/* Close button */
#close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
}

#close-button:hover {
    color: red;
}

